services:
  nats:
    read_only: true
    tmpfs: ["/tmp"]
    security_opt: ["no-new-privileges:true"]
    cap_drop: ["ALL"]
    networks: ["data"]
    image: "nats:2.14.5-alpine"
    restart: "unless-stopped"
    volumes:
      - "nats-data:/data"
      - "{{service_queue}}/nats.conf:/etc/nats/nats.conf:ro,z"
    environment:
      NATS_PASSWORD: ${NATS_PASSWORD}
    command: ["-c", "/etc/nats/nats.conf"]
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8222/healthz"]
      interval: "5s"
      timeout: "5s"
      retries: 5
      start_period: "20s"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
volumes:
  nats-data: null
