services:
  nats:
    container_name: "nats"
    image: "nats:2.14-alpine"
    restart: "unless-stopped"
    volumes:
      - "nats-data:/data"
    command:
      [
        "-js",
        "-sd",
        "/data",
        "--auth",
        "${NATS_PASSWORD}",
        "-m",
        "8222",
      ]
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8222/healthz"]
      interval: "5s"
      timeout: "5s"
      retries: 5
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
volumes:
  nats-data: null
