name: "{{app_name_snake}}"

services:
  api:
    cpu_shares: {{api_cpu_shares}}
    memswap_limit: "{{api_mem_limit}}"
    deploy:
      resources:
        limits:
          memory: "{{api_mem_limit}}"{{api_cpu_ceiling}}
          pids: 512
        reservations:
          memory: "{{api_mem_res}}"
