name: "{{app_name_snake}}"

services:
  db:
    security_opt: ["no-new-privileges:true"]
    cap_drop: ["ALL"]
    cap_add: ["CHOWN", "DAC_OVERRIDE", "FOWNER", "SETGID", "SETUID"]
    networks: ["data"]
    build:
      context: "{{service_database}}"
      dockerfile: "Dockerfile"
    image: "{{image_db}}"
    restart: "unless-stopped"
    volumes:
      - "db-data:/var/lib/postgresql/data"
      - "db-config:/etc/postgresql-custom"
    environment:
      POSTGRES_HOST: "/var/run/postgresql"
      PGPORT: "5432"
      POSTGRES_PORT: "5432"
      PGPASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGDATABASE: "postgres"
      POSTGRES_DB: "postgres"
      POSTGRES_USER: "supabase_admin"
    shm_size: "256mb"
    command:
      [
        "postgres",
        "-c",
        "config_file=/etc/postgresql/postgresql.conf",
        "-c",
        "max_connections=50",
        "-c",
        "shared_buffers=128MB",
        "-c",
        "effective_cache_size=384MB",
      ]
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "psql -U postgres -h 127.0.0.1 -tAc 'select 1' | grep -q 1",
        ]
      interval: "10s"
      timeout: "5s"
      retries: 10
      start_period: "60s"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  db-config: null
  db-data: null
