name: "{{app_name_snake}}"

services:
  db:
    command:
      [
        "postgres",
        "-c",
        "config_file=/etc/postgresql/postgresql.conf",
        "-c",
        "log_min_messages=fatal",
        "-c",
        "max_connections={{db_max_connections}}",
        "-c",
        "shared_buffers={{db_shared_buffers}}",
        "-c",
        "effective_cache_size={{db_effective_cache_size}}",
        "-c",
        "work_mem={{db_work_mem}}",
        "-c",
        "maintenance_work_mem={{db_maintenance_work_mem}}",
        "-c",
        "wal_buffers={{db_wal_buffers}}",
        "-c",
        "max_worker_processes={{db_max_worker_processes}}",
        "-c",
        "max_parallel_workers={{db_max_parallel_workers}}",
        "-c",
        "max_parallel_workers_per_gather={{db_max_parallel_workers_per_gather}}",
        "-c",
        "archive_mode=${PGBACKREST_ARCHIVE_MODE:-off}",
        "-c",
        "archive_command=pgbackrest archive-push %p",
      ]
