ANON_KEY=${ANON_KEY}
SERVICE_KEY=${SERVICE_KEY}
REST_INTERNAL_URL=${REST_INTERNAL_URL:-http://rest:3000}
REDIS_URL={{resource_redis_url}}
QUEUE_DRIVER={{resource_queue_driver}}
NATS_URL={{resource_queue_url}}
AWS_REGION={{resource_queue_region}}
GOOGLE_CLOUD_PROJECT={{resource_queue_project_id}}
