name: "{{app_name_snake}}"

services:
  db-backup:
    profiles: ["backup"]
    build:
      context: "{{service_backup}}"
      dockerfile: "Dockerfile"
    restart: "no"
    networks: ["data"]
    security_opt: ["no-new-privileges:true"]
    cap_drop: ["ALL"]
    read_only: true
    tmpfs: ["/tmp"]
    environment:
      PGHOST: "{{resource_postgres_host}}"
      PGUSER: "postgres"
      PGDATABASE: "postgres"
      PGPASSWORD: ${POSTGRES_PASSWORD}
    entrypoint: ["scribe-dump"]
    volumes:
      - "backups:/backups"
    depends_on:
      db:
        condition: "service_healthy"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  backups: null
