name: "{{app_name_snake}}"

services:
  caddy:
    image: "caddy:2.11.4"
    security_opt: ["no-new-privileges:true"]
    cap_drop: ["ALL"]
    ulimits:
      nofile:
        soft: 8192
        hard: 16384
    cap_add: ["NET_BIND_SERVICE"]
    restart: "unless-stopped"
    labels:
      traefik.enable: "true"
      scribe.hostnames: "{{app_name_snake}}.scribe.localhost,{{api_host}}"
      traefik.docker.network: "{{app_name_snake}}_default"
      traefik.http.routers.{{app_name_snake}}.rule: "Host(`{{app_name_snake}}.scribe.localhost`) || Host(`{{api_host}}`)"
      traefik.http.routers.{{app_name_snake}}.entrypoints: "web,websecure"
      traefik.http.services.{{app_name_snake}}.loadbalancer.server.port: "80"
    volumes:
      - "{{service_proxy}}/Caddyfile:/etc/caddy/Caddyfile:ro,z"
      - "caddy_data:/data"
      - "caddy_config:/config"
      - "{{sdk_root}}/web:/srv/web:ro"
    env_file:
      - path: "{{stack_env}}/proxy.env"
        required: true
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://127.0.0.1:2019/config/"]
      interval: "10s"
      timeout: "5s"
      retries: 5
    depends_on:
      kong:
        condition: "service_healthy"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  caddy_data: null
  caddy_config: null
