services:
  redis:
    read_only: true
    tmpfs: ["/tmp"]
    security_opt: ["no-new-privileges:true"]
    cap_drop: ["ALL"]
    cap_add: ["CHOWN", "DAC_OVERRIDE", "SETGID", "SETUID"]
    networks: ["data"]
    image: "valkey/valkey:8.1.9-alpine"
    restart: "unless-stopped"
    volumes:
      - "redis-data:/data"
    command:
      [
        "valkey-server",
        "--requirepass",
        "${REDIS_PASSWORD}",
        "--appendonly",
        "yes",
        "--maxmemory",
        "24mb",
        "--maxmemory-policy",
        "volatile-lru",
      ]
    healthcheck:
      test: ["CMD", "valkey-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      interval: "5s"
      timeout: "5s"
      retries: 5
      start_period: "20s"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
volumes:
  redis-data: null
