services:
  redis:
    command:
      [
        "valkey-server",
        "--requirepass",
        "${REDIS_PASSWORD}",
        "--appendonly",
        "yes",
        "--maxmemory",
        "{{redis_maxmemory}}",
        "--maxmemory-policy",
        "volatile-lru",
        "--io-threads",
        "{{redis_io_threads}}",
        "--io-threads-do-reads",
        "{{redis_io_threads_do_reads}}",
      ]
