name: "{{app_name_snake}}"

services:
  worker:
    cpu_shares: 1024
    memswap_limit: "{{worker_mem_limit}}"
    deploy:
      resources:
        limits:
          memory: "{{worker_mem_limit}}"{{worker_cpu_ceiling}}
          pids: 512
        reservations:
          memory: "{{worker_mem_res}}"
