name: "{{app_name_snake}}"

services:
  kong:
    cpu_shares: 2048
    memswap_limit: "{{kong_mem_limit}}"
    deploy:
      resources:
        limits:
          memory: "{{kong_mem_limit}}"{{kong_cpu_ceiling}}
          pids: 512
        reservations:
          memory: "{{kong_mem_res}}"
