{
  "terraform": {
    "required_providers": {
      "aws": {
        "source": "hashicorp/aws",
        "version": "6.19.0"
      }
    }
  },
  "provider": {
    "aws": {
      "region": "{{region}}"
    }
  },
  "data": {
    "aws_caller_identity": {
      "current": {}
    }
  },
  "resource": {
    "aws_iam_role": {
      "queue": {
        "name": "{{name}}",
        "assume_role_policy": "{\"Version\":\"2012-10-17\",\"Statement\":[{\"Effect\":\"Allow\",\"Principal\":{\"Service\":\"ec2.amazonaws.com\"},\"Action\":\"sts:AssumeRole\"}]}"
      }
    },
    "aws_iam_role_policy": {
      "queue": {
        "name": "{{name}}",
        "role": "${aws_iam_role.queue.id}",
        "policy": "{\"Version\":\"2012-10-17\",\"Statement\":[{\"Effect\":\"Allow\",\"Action\":[\"sqs:CreateQueue\",\"sqs:GetQueueAttributes\",\"sqs:SendMessage\",\"sqs:SendMessageBatch\",\"sqs:ReceiveMessage\",\"sqs:DeleteMessage\",\"sqs:ChangeMessageVisibility\"],\"Resource\":\"arn:aws:sqs:{{region}}:${data.aws_caller_identity.current.account_id}:*\"}]}"
      }
    },
    "aws_iam_instance_profile": {
      "queue": {
        "name": "{{name}}",
        "role": "${aws_iam_role.queue.name}"
      }
    }
  },
  "output": {
    "driver": {
      "value": "sqs"
    },
    "url": {
      "value": ""
    },
    "region": {
      "value": "{{region}}"
    },
    "project_id": {
      "value": ""
    },
    "instance_profile_name": {
      "value": "${aws_iam_instance_profile.queue.name}"
    },
    "service_account_email": {
      "value": ""
    }
  }
}
