services:
  - name: api
    weight: 1299
    runtime: deno
    min: 128Mi
    dev: 512Mi
    cpu_shares_total: 16384

  - name: functions
    weight: 661
    runtime: deno
    min: 128Mi
    dev: 256Mi
    cpu_shares: 1024

  - name: worker
    weight: 661
    runtime: deno
    profile: worker
    min: 128Mi
    dev: 256Mi
    cpu_shares: 1024

  - name: kong
    weight: 489
    runtime: nginx
    min: 128Mi
    dev: 256Mi
    cpu_shares: 2048

  - name: caddy
    weight: 93
    runtime: plain
    min: 32Mi
    dev: 64Mi
    cpu_shares: 2048
