import "@scribe/testing/runner.ts";
import { expect, isNotNull, Scribe } from "@scribe/alchemy/test";
import * as {{name}} from "../lib/{{name}}.ts";

Scribe.test("{{name}} can be reached through its entry", () => {
  expect({{name}}, isNotNull, "the entry did not load");
});
