name: "{{app_name_snake}}"

services:
  run:
    read_only: true
    tmpfs: ["/tmp"]
    networks: ["app", "data"]
    image: "{{image_api}}"
    restart: "no"
    user: "{{user_api}}"
    security_opt: ["no-new-privileges:true"]
    cap_drop: ["ALL"]
    ulimits:
      nofile:
        soft: 8192
        hard: 16384
{{volumes_api}}
    environment:
      APP_NAME: "{{app_name}}"
    env_file:
      - path: "{{stack_env}}/host.env"
        required: true
      - path: "{{stack_env}}/datastores.env"
        required: true
      - path: "{{stack_env}}/packages.env"
        required: true
      - path: "{{stack_env}}/project.env"
        required: false
    command:
{{runtime_command_run}}
    depends_on:
      db:
        condition: "service_healthy"
      redis:
        condition: "service_healthy"
      nats:
        condition: "service_healthy"
      rest:
        condition: "service_healthy"
      api:
        condition: "service_healthy"
      kong:
        condition: "service_healthy"
      caddy:
        condition: "service_healthy"
      init:
        condition: "service_completed_successfully"
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"
